@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Noto Sans";
  src: url("../public/fonts/NotoSans-Regular.ttf");
}

.heading1 {
  font-size: 48px;
  font-weight: 400;
  font-family: "Noto Sans";
}

.heading2 {
  font-family: "Noto Sans";
  font-size: 36px;
  font-weight: 400;
}

.heading3 {
  font-family: "Noto Sans";
  font-size: 30px;
  font-weight: 400;
}

.heading4 {
  font-family: "Noto Sans";
  font-size: 24px;
  font-weight: 400;
}

.heading5 {
  font-family: "Noto Sans";
  font-size: 20px;
  font-weight: 400;
}

.subtitle {
  font-family: "Noto Sans";
  font-size: 18px;
  font-weight: 400;
}

.body {
  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: 400;
}

.button {
  font-family: "Noto Sans";
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}

.caption {
  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: 300;
}
